	<div class="range-slider">  
		<div class="range-slider__title"> 
			Стоимость:
		</div>
		<div class="range-slider__controls">  
			<div class="range-slider__col">	
				<input type="text"  class="range-slider__input js-from" placeholder="От $" />
			</div>
			<div class="range-slider__col">	
				<input type="text"  placeholder="До $" class="range-slider__input js-to" />
			</div>
		</div>
		<div class="range-slider__output">
			<input type="text" class="js-range-slider" value="" />
		</div>
	</div>