//vars
$green: #6dca14
$red: #e86278
$white: #fff
$black: #000
$gray: #818181
$gray2: #bdbdbd
$bg_gray: #f3f3f3

//fonts

/*=== import ===*/
+font("Clear Sans Bold Italic", "ClearSans-Bolditalic")
+font("Clear Sans Bold", "ClearSans-Bold")
+font("Clear Sans Medium Italic", "ClearSans-Mediumitalic")
+font("Clear Sans Medium", "ClearSans-Medium")
+font("Clear Sans Regular", "ClearSans-Regular")
+font("Clear Sans Italic", "ClearSans-Italic")
+font("Clear Sans Thin", "ClearSans-Thin")
+font("Clear Sans Light", "ClearSans-Light")

/*=== mixins ===*/
=bold-italic
	font-family: "Clear Sans Bold Italic", sans-serif
	font-weight: normal
=bold
	font-family: "Clear Sans Bold", sans-serif
	font-weight: normal
=medium-italic
	font-family: "Clear Sans Medium Italic", sans-serif
	font-weight: normal
=medium
	font-family: "Clear Sans Medium", sans-serif
	font-weight: normal
=regular
	font-family: "Clear Sans Regular", sans-serif
	font-weight: normal
=regular-italic
	font-family: "Clear Sans Italic", sans-serif
	font-weight: normal
=thin
	font-family: "Clear Sans Thin", sans-serif
	font-weight: normal
=light
	font-family: "Clear Sans Light", sans-serif
	font-weight: normal

// titles
.title
	text-align: center
	+bold
	font-size: 18px
	text-transform: uppercase
	letter-spacing: 3.6px
	line-height: 1.2
	color: $black
	span
		position: relative
		display: inline-block
		&:before
			content: ''
			display: block
			position: absolute
			right: 100%
			top: 50%
			margin: -1px 20px 0 0
			width: 75px
			height: 2px
			background: $black
.title-secondary
	+bold
	font-size: 18px
	color: $black
	text-align: center
	letter-spacing: 3.6px
	text-transform: uppercase

//icons
.icon-arr
	font-size: 6px
	fill: $black
.icon-iblock-1
	font-size: 40px
	fill: $red
.icon-arrd
	font-size: 24px
	fill: #bcbcbc
//basic styles
body
	background: $white
	+css-lock(16, 50, 600, 1000)
	line-height: 1.4
	+regular
	display: flex
	flex-direction: column
	min-height: 100vh
a
	text-decoration: none
	color: inherit
button
	background: none
	outline: none
	border: 0
img
	max-width: 100%
	max-height: 100%
//buttons
.btn
	display: inline-flex
	align-items: center
	justify-content: center
	height: 50px
	padding: 5px 15px
	position: relative
	min-width: 200px
	color: $white
	font-weight: 400
	font-size: 14px
	line-height: 1.4
	+bold
	text-transform: uppercase
	letter-spacing: 1.4px
	background: $red
	transition: background 0.25s
	&:hover
		background: darken($red, 5%)
	&:active
		top: 1px
	&_primary
		background: $green
		&:hover
			background: darken($green, 5%)
	&_secondary
		background: $white
		font-size: 12px
		color: $black
		&:hover
			background: darken($white, 5%)
		//	.icon
		//		transform: translateX(3px)
        //
		//.icon
		//	margin: 0 0 0 6px
		//	transition: transform 0.25s

// inputs
%inputs
	width: 100%
	outline: 0
	display: block
	border: 0

// checkbox
.checkbox
	&__list
		display: flex
		flex-direction: column
		padding-left: 5px	
	&__item
		position: relative
		&:not(:last-child)
			margin-bottom: 10px	
	&__field
		position: absolute
		z-index: -1
		opacity: 0
		height: 0
		&:checked + label:after
			content: ""
			z-index: 3
			top: 39%
			left: 2%
			position: absolute
			-ms-transform: translate(-50%,-50%) rotate(220deg)
			transform: translate(-50%,-50%) rotate(220deg)
			width: 8px
			height: 8px
			background: 0 0
			border-top: 2px solid #000
			border-left: 2px solid #000
	&__label
		display: flex
		align-items: center
		cursor: pointer
		&:before
			content: ""
			-webkit-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			user-select: none
			overflow: hidden
			-webkit-box-shadow: none
			box-shadow: none
			background: 0 0
			width: 13px
			height: 13px
			border-radius: 3px
			border: 1px solid #e4e4e4
			background-color: #f3f3f3
	&__title
		font-size: 14px
		letter-spacing: 0.35px
		padding-left: 13px	
		color: $black

// range-slider
.range-slider
	padding-left: 10px
	margin: 33px 0
	&__title,
	&__inputs
		font-size: 14px
		color: $gray
		letter-spacing: 0.35px
	&__title
		margin-bottom: 11px	
	&__controls
		display: flex
		justify-content: space-between
		width: 100%
		margin: 0 -14px	15px
	&__col
		padding: 0 14px
	&__input
		width: 100%	
		display: block	
		min-width: 100px
		color: $gray2
		padding: 7px 11px	
		border-radius: 3px
		background-color: #f3f3f3