---
title: Contacts
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="contact-top" style="background-image: url(img/contact-bg.jpg)">
  <h2 class="contact-top__title">Контакты</h2>
</div>
<div class="contact-layout">
  <div class="contact-layout__left">
    <div class="location">
      <div class="location__top">
        <div class="location__company">Railand Property <br/> International Co., Ltd.</div>
        <div class="location__country">47 Lagoon Road, Cherngtalay, Thalang, <br> Phuket 83110, Thailand</div>
        <div class="location__info">
          0835554000013
          8-10-66-76324448
          +66-84-84-55-111
          (Viber, WhatsApp)
          <a href="mailto:info@rl-property.com" class="location__email">info@rl-property.com</a>
        </div>
      </div>
      <div class="location__body">
        <div class="form-contact">
          <form>
            <h2 class="form-contact__title">Связаться с нами</h2>
            <div class="form-contact__input input-field"><input type="text" class="input-field__el" placeholder="Имя*"></div>
            <div class="form-contact__input input-field"><input type="email" class="input-field__el" placeholder="E-mail*"></div>
            <div class="form-contact__area input-area">
              <textarea class="input-area__el" placeholder="Комментарий"></textarea>
            </div>
            <button type="submit" class="form-contact__btn btn"><span> Искать</span></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-layout__right">
    <img src="img/map.jpg" width="760" height="420" alt="">
  </div>
</div>
{% endblock %}
