---
title: Example title
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {# variable example #}
  <h1>{{title}}</h1>

  {# mixin example #}
  {{mixins.icon('facebook')}}

  {# data usage example #}
  {% import "data/data.html" as tests %}

  {# for example #}
    {% for test in tests.list %}
    <li>{{test.title}}</li>
    {% endfor %}
  {# end for example #}

  <button type="button" class="btn">
    <span>Покупка</span>
  </button>

  <button type="button" class="btn btn_primary">
    <span>Заполнить заявку</span>
  </button>


{% endblock %}
