---
title: Аренда и продажа недвижимости на Пхукете
---
{% extends "layouts/_layout.html" %}

{% block content %}

  <!-- BEGIN main -->
  <div class="main">
    <div class="inner">
      <div class="main__content">
        <h1 class="main__title">Аренда и продажа <br> недвижимости на Пхукете</h1>
        <div class="main__subtitle">Первое русское агентство недвижимости на Пхукете.</div>
        <div class="main__buttons-wrap">
          <button type="button" class="main__btn btn">
            <span>Покупка</span>
          </button>
          <button type="button" class="main__btn btn">
            <span>Aренда</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END main -->

  <!-- BEGIN icons -->
  <div class="icons">
    <div class="icons__in inner">
      <ul class="icons__list">
        {% set items = [
          { "iconName": "iblock-1", "text": "12 лет опыта работы на рынке <br/> недвижимости Пхукета" },
          { "iconName": "iblock-1", "text": "Лучшие объекты на этапе <br/> строительства и вторичном рынке" },
          { "iconName": "iblock-1", "text": "Большой выбор объектов <br/> и широкий диапазон цен" },
          { "iconName": "iblock-1", "text": "Полное сопровождение сделок <br/> на русском и английском языках" }
        ]%}
        {% for item in items %}
        <li class="icons__list-item">
          <div class="iblock">
            <div class="iblock__icon">{{mixins.icon(item.iconName)}}</div>
            <div class="iblock__text">{{item.text | safe}}</div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- END icons -->

  <!-- BEGIN reviews -->
  <div class="reviews">
    <div class="reviews__in inner">
      <h2 class="title"><span>честные отзывы о нас </span></h2>
      <div class="reviews-slider js-reviews-slider">
        {% for i in range(0, 5) -%}
        <div class="reviews-slider__item r-item">
          <div class="r-item__pic">
            <img src="https://via.placeholder.com/160x160" width="160" height="160" alt="Семья Литвиненко">
          </div>
          <div class="r-item__name">Семья Литвиненко</div>
          <div class="r-item__txt">
            Ребята. Спасибо!!! Все было очень хорошо. Радует оперативность, отзывчивость и опека!
            Отдельное спасибо Елизавете и Ольге, отдельно Александру и Вадиму. Думаю, стоит поработать над экскурсиями и маршрутами для знакомства с острово, не перегружайте гостей. У нас получилось все очень здорово. Обнимаем, до новых встреч!
          </div>
          <div class="r-item__date">{{i}}.02.2018</div>
        </div>
        {%- endfor %}
      </div>
    </div>
  </div>
  <!-- END reviews -->

  <!-- BEGIN news -->
  <div class="news">
    <div class="news__in inner">
      <h2 class="title"><span>Лучшее на Пхукете: Мероприятия</span></h2>
      <ul class="news__list">
        {% set newsList = [
          {
            "data": "23 апреля 2018",
            "picture": "news-item.jpg",
            "title": "Эволюционируя вместе <br/> с Пхукетом",
            "txt": "Счастливое ли число семь? Для Пола Роппа определенно да, поскольку всего лишь семь лет ему потребовалась на то, чтобы превратить Пхукет в жемчужину свой розничной сети."
          },
          {
            "data": "23 апреля 2018",
            "picture": "news-item.jpg",
            "title": "6 способов встряхнуть свою жизнь на Пхукете",
            "txt": "Как и в других уголках мира, быт местных жителей и туристов значительно отличаются. С понедельника по пятницу мы ходим на работу, на выходных занимаемся домашними делами, иногда выбираемся на пляж или на бранч."
          },
          {
            "data": "23 апреля 2018",
            "picture": "news-item.jpg",
            "title": "Каникулы на Пхукете: Идеальные выходные на Най-Харне",
            "txt": "Mачек Климович Бывает ли у вас иногда ощущение, что все вокруг только и делают, что отдыхают, пока вы трудитесь в поте лица? У жителей Пхукета это распространенный синдром, поскольку каждый год миллионы…"
          }
        ]%}
        {% for newsItem in newsList %}
        <li class="news__list-item">
          <div class="n-item">
            <div class="n-item__top">
              <img src="img/{{newsItem.picture}}" alt="">
            </div>
            <div class="n-item__body">
              <div class="n-item__data">{{newsItem.data}}</div>
              <h3 class="n-item__title">{{newsItem.title | safe}}</h3>
              <div class="n-item__txt">{{newsItem.txt}}</div>
              <a href="#" class="n-item__link">
                <span>читать далее {{mixins.icon('arr')}}</span>
              </a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      <a href="#" class="news__btn btn">
        <span>Жизнь на Пхукете {{mixins.icon('arr')}}</span>
      </a>
    </div>
  </div>
  <!-- END news -->
{% endblock %}
