---
title: Аренда и продажа недвижимости на Пхукете
---
{% extends "layouts/_layout.html" %}

{% block content %}

  <div class="main">
    <div class="inner">
      <div class="main__content">
        <h1 class="main__title">Аренда и продажа <br> недвижимости на Пхукете</h1>
        <div class="main__subtitle">Первое русское агентство недвижимости на Пхукете.</div>
        <div class="main__buttons-wrap">
          <button type="button" class="main__btn btn">
            <span>Покупка</span>
          </button>
          <button type="button" class="main__btn btn">
            <span>Aренда</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--<button type="button" class="btn">-->
    <!--<span>Покупка</span>-->
  <!--</button>-->

  <!--<button type="button" class="btn btn_primary">-->
    <!--<span>Заполнить заявку</span>-->
  <!--</button>-->

  <!--<button type="button" class="btn btn_secondary">-->
    <!--<span>Жизнь в пхукете</span> {{mixins.icon('arr')}}-->
  <!--</button>-->


{% endblock %}
