---
title: Аренда и продажа недвижимости на Пхукете
---
{% extends "layouts/_layout.html" %}

{% block content %}

  <!-- BEGIN main -->
  <div class="main">
    <div class="inner">
      <div class="main__content">
        <h1 class="main__title">Аренда и продажа <br> недвижимости на Пхукете</h1>
        <div class="main__subtitle">Первое русское агентство недвижимости на Пхукете.</div>
        <div class="main__buttons-wrap">
          <button type="button" class="main__btn btn">
            <span>Покупка</span>
          </button>
          <button type="button" class="main__btn btn">
            <span>Aренда</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END main -->

  <!-- BEGIN icons -->
  <div class="icons">
    <div class="icons__in inner">
      <ul class="icons__list">
        {% set items = [
          { "iconName": "iblock-1", "text": "12 лет опыта работы на рынке <br> недвижимости Пхукета" },
          { "iconName": "iblock-1", "text": "Лучшие объекты на этапе <br> строительства и вторичном рынке" },
          { "iconName": "iblock-1", "text": "Большой выбор объектов <br> и широкий диапазон цен" },
          { "iconName": "iblock-1", "text": "Полное сопровождение сделок <br> на русском и английском языках" }
        ]%}
        {% for item in items %}
        <li class="icons__list-item">
          <div class="iblock">
            <div class="iblock__icon">{{mixins.icon(item.iconName)}}</div>
            <div class="iblock__text">{{item.text | safe}}</div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- END icons -->

{% endblock %}
