---
title: Аренда и продажа недвижимости на Пхукете
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- BEGIN catalog-promo -->
<section class="catalog-promo" style="background-image: url(../img/about/about-form.jpg">  
	<div class="catalog-promo__in inner">	
		<h2 class="catalog-promo__title">  
			Более 700  обьектов в базе
		</h2>
		<div class="catalog-promo__subtitle"> 
			Чтобы изучить весь каталог, потребуется примерно 48 часов. <br/>
			Оставьте заявку, и менеджер быстро подберет варианты.

		</div>
		<button type="button" class="catalog-promo__btn btn">
			<span>Заполнить заявку</span>
		</button>
	</div>
</section>
<!-- END catalog-promo -->

<!-- BEGIN card -->
<section class="cards">	
	<div class="cards__in inner">
		<div class="cards__header">
			<div class="title">	
				<span>	
					каталог Объектов на 
				</span>
			</div>
			<ul class="catalog-list">	
				<li class="catalog-list__item">	
					<a href="" class="catalog-list__link is-active">
						продажу	
					</a>
				</li>
				<li class="catalog-list__item">	
					<a href="" class="catalog-list__link">
						Аренду	
					</a>
				</li>
			</ul>


		</div>	
		<div class="cards__main">	
			<aside class="cards__aside">

				hyyiasd
			</aside>

			<div class="cards__body">
				<div class="cards__top">
					<div class="objects">	
						<div class="objects__title">	
							Тип недвижимости :
						</div>
						<div class="objects__col">
							<span class="objects__link objects__current">	
								Вся недвижимость
							</span>
							<a href="" class="objects__link is">Вилла</a>
							<a href="" class="objects__link is-active">Аппартаменты</a>
							<a href="" class="objects__link">Таунхаус</a>
							<a href="" class="objects__link">Комплексы</a>
						</div>

					</div>
					{% include "partials/components/_search.html" %}
				</div>
				<div class="catalog-page">
					<div class="catalog-page__navigation">
						<span class="catalog-page__first catalog-page__current">1</span>
						<a href="" class="catalog-page__link">2</a>
						<a href="" class="catalog-page__link">3</a>
						<a href="" class="catalog-page__link">4</a>
						<a href="" class="catalog-page__link">5</a>
						<a class="catalog-page__link catalog-page__line" href="">-</a>
						<a href="" class="catalog-page__link">25</a>
						<a class="catalog-page__link catalog-page__next" href="">>></a>
					</div>	
					<div class="catalog-page__navigation pagecount">
						<span class="catalog-page__title">Показывать по: </span>
						<span class="catalog-page__first catalog-page__current">10</span>
						<a class="catalog-page__link" href="">20</a>
						<a class="catalog-page__link" href="">50</a>
					</div>
				</div>
				<ul class="cards__list">	
					{% for i in range(0,10) -%}
					<li class="cards__item">
						<div class="card">
							<div class="card__top">
								<div class="price-wrp">	
									<div class="price price__wh">	
										$ 761 000 
									</div>
								</div>
								<div class="card__slider">
									<div class="card__slider-item">	
										<img src="img/card/1.jpg" alt="аппартамены">
									</div>	
									<div class="card__slider-item">	
										<img src="img/card/1.jpg" alt="аппартамены">
									</div>
									<div class="card__slider-item">	
										<img src="img/card/1.jpg" alt="аппартамены">
									</div>	
									<div class="card__slider-item">	
										<img src="img/card/1.jpg" alt="аппартамены">
									</div>	
								</div>
								<a class="card__link" href=""></a>
							</div>
							<div class="card__content">	
								<div class="card__body">	
									<h3 class="card__title">	
										Апартаменты с видом на море в Ката
									</h3>
									<ul class="card__l">
										<li>
											Жилая площадь: от 200 м2 
										</li>
										<li>	
											Спален: 2 
										</li>
										<li>	
											До пляжа: 600 м
										</li>
									</ul>
								</div>
								<div class="card__footer">	
									<div class="price price__bl">
										$ 761 000 
									</div>
									<button type="button" class="card__btn btn btn_primary">
										<span>Смотреть</span>
									</button>
								</div>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
				<div class="catalog-page">
					<div class="catalog-page__navigation">
						<span class="catalog-page__first catalog-page__current">1</span>
						<a href="" class="catalog-page__link">2</a>
						<a href="" class="catalog-page__link">3</a>
						<a href="" class="catalog-page__link">4</a>
						<a href="" class="catalog-page__link">5</a>
						<a class="catalog-page__link catalog-page__line" href="">-</a>
						<a href="" class="catalog-page__link">25</a>
						<a class="catalog-page__link catalog-page__next" href="">&gt;&gt;</a>
					</div>
					<div class="catalog-page__navigation pagecount">
						<span class="catalog-page__title">Показывать по: </span>
						<span class="catalog-page__first catalog-page__current">10</span>
						<a class="catalog-page__link" href="">20</a>
						<a class="catalog-page__link" href="">50</a>
						<a class="catalog-page__link" href="">100</a>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- END card -->
{% endblock %}
