.contact-top
	position: relative
	background-position: center center
	background-size: cover
	height: 210px
	display: flex
	align-items: center
	justify-content: center
	&__title
		font-size: 36px
		letter-spacing: 7.2px
		+bold
		color: $white
		line-height: 1.4
		text-transform: uppercase
.contact-layout
	position: relative
	&__in
		display: flex
		padding-top: 80px
		padding-bottom: 60px
	&__left
		padding: 0 65px 0 10px
		width: 350px
		flex-grow: 0
		flex-shrink: 0
		+regular
		font-size: 14px
		line-height: 1.4
	&__right
		flex-grow: 1
		flex-shrink: 1
		img
			display: block
			width: 100%
			height: auto
.location
	&__top
		padding: 0 0 16px
		border-bottom: 1px solid #e9e9e9
	&__company
		font-size: 18px
		+bold
		color: $black
		line-height: 1.2
	&__country
		font-size: 14px
		+regular
		line-height: 1.2
		color: $black
		margin: 10px 0 0
		padding: 0 0 20px
		border-bottom: 1px solid #e9e9e9
	&__info
		font-size: 14px
		+regular
		line-height: 1.2
		color: $black
		span
			letter-spacing: -0.01em
			display: block
			margin: 10px 0 0
	&__email
		color: $red
		font-size: 14px
		+regular
		line-height: 1.2
		display: inline-block
		margin: 20px 0 0
	&__form
		box-shadow: none
		background: none
		padding: 0
		text-align: center
		padding: 15px 0 0
.form
	&__title
		font-size: 18px
		font-weight: 400
		text-transform: uppercase
		letter-spacing: 0.9px
		color: $black
		+regular
