
.cooperation
	position: relative
	+cover
	min-height: 500px
	&:before
		content: ''
		z-index: 0
		+coverdiv
		background-color: rgba(12, 1, 19, 0.25)
	&__in
		position: relative
		z-index: 1
		font-size: 0
		text-align: center
		padding-top: 61px
	&__title
		font-size: 36px
		+bold
		text-transform: uppercase
		letter-spacing: 7.2px
		color: $white
		+md
			font-size: 24px
		+xs
			font-size:  20px
	&__btns
		margin-top: 62px
		+xs
			margin-top: 40px	
	&__btn
		+sm
			margin: 7px
		box-shadow: 0 3px 13px rgba(28, 28, 28, 0.5)
		&:not(:first-child)
			margin-left: 20px
			+sm
				margin: 7px


// audit
.audit
	&__in
		max-width: 1050px
		padding-bottom: 40px	
		+xs
			padding-bottom: 25px	
			max-width: 480px
	&__col
		padding-top: 55px	
		margin-top: -70px
		+md
			margin-top: -124px	
			padding-top: 30px
		+xs
			// margin-top: 0		
.audit-tabs
	&__list
		display: flex
		font-size: 0
		justify-content: center
		position: relative
		top: -71px
		flex-wrap: wrap
		+md
			margin: 0 -15px
			top: -124px	
			max-width: 767px
			margin: auto
		+xs
			margin: 0
			flex-direction: column
			// top: auto
	&__item
		display: flex
		flex: 1
		align-items: center
		justify-content: center
		background: #f4f4f4
		padding: 10px 24px
		+md
			padding: 0	
			flex: 1 49%
			margin: 1px
			height: 60px	
		+xs
			margin: 0	
		height: 69px
		position: relative
		cursor: pointer
		+tr(background .25s ease)
		&:before
			content: ''
			display: block
			+coverdiv
			background: transparent
			+tr(transform .25s ease)
			z-index: 1
		&:hover
			background: lighten(#f4f4f4, 3%)
		&:not(:first-child)
			margin-left: 2px
			+md
				margin-left: 1px
			+xs
				margin: 0	
		&.is-active
			background: $white
			&:before
				transform: scaleY(1.4)
				background: $white
				+md
					transform: scaleY(1.1)
	&__title,
	&__ico
		z-index: 2
	&__title
		font-size: 12px
		text-transform: uppercase
		letter-spacing: 0.6px
		line-height: 18px
		+bold
		max-width: 140px
		margin-left: 30px
		+md
			margin-left: 15px	
	&__ico
		display: block
		background-repeat: no-repeat
		background-position: 50% 50%

// audit-content
.audit-content
	font-size: 14px
	line-height: 30px
	display: none
	flex-direction: column
	+xs
		line-height: 23px
	&.is-active
		display: flex
	&__title
		line-height: 18px
	&__sub
		margin-top: 15px
		+bold
		text-align: center
	&__body
		margin-top: 38px
		color: $gray
		padding-left: 	20px
		max-width: 945px
		+xs
			margin-top: 25px	
		h4
			color: $black
			+bold
// work
.work
	background-color: $bg_gray
	&__in
		padding-top: 56px
		max-width: 973px
		+md
			max-width: 480px
		+xs
			max-width: 320px
			padding-top: 25px
	&__list
		margin-top: 58px
		display: flex
		flex-wrap: wrap
		font-size: 0
		text-align: center
		+md
			margin: 30px -26px 0
		+xs
			margin: 0
			margin-top: 15px	
	&__item
		flex: 1
		+md
			padding: 13px
		&:not(:first-child)
			margin-left: 77px
			+md
				margin-left: 0	
	&__l
		border: 2px solid $red
		border-radius: 50%
		width: 160px
		height: 160px
		margin: auto
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
	&__num
		font-size: 30px
		color: $black
		text-transform: uppercase
		+bold
		letter-spacing: 0.75px
	&__pic
		margin-top: 20px	
	&__desc
		font-size: 14px
		max-width: 192px
		margin: 16px auto 0
		color: $gray
		line-height: 18px
