.main
	text-align: center
	color: $white
	height: 640px
	background: url(../img/main-section-bg.jpg) no-repeat center
	background-size: cover
	&__title
		text-shadow: 0 1px 0 #000000
		font-size: 42px
		line-height: 1.2
		+bold
		letter-spacing: 1.05px
	&__subtitle
		+regular
		font-size: 14px
		line-height: 1.4
		letter-spacing: 0.35px
		margin: 16px 0 0
	&__buttons-wrap
		margin: 94px 0 0
		.btn + .btn
			margin: 0 0 0 20px
	&__content
		display: inline-block
		padding: 90px 0 50px
	&__btn
		box-shadow: 0 3px 13px rgba(28, 28, 28, 0.5)
.icons
	position: relative
	height: 200px
	background: $white
	text-align: center
	+bold
	font-size: 12px
	color: $black
	&__in
		display: flex
		height: 200px
		align-items: center
	&__list
		display: flex
		width: 100%
	&__list-item
		width: 25%
		padding: 0 10px
.iblock
	&__icon
		width: 60px
		height: 60px
		margin: 0 auto
		position: relative
	&__text
		text-transform: uppercase
		letter-spacing: 0.6px
	.icon
		position: absolute
		+vcenter
.news
	position: relative
	background: url(../img/news-bg.jpg) no-repeat center
	background-size: cover
	height: 763px
	text-align: center
	&__in
		padding-top: 68px
	&__list
		display: flex
		margin: 58px -15px 0
		text-align: left
	&__list-item
		width: 33.3333%
		flex-grow: 0
		flex-shrink: 0
		padding: 0 15px
	&__btn
		background: $white
		color: $black
		margin: 40px auto 0
		font-size: 12px
		min-width: 255px
		&:hover
			background: darken($white, 2%)
			.icon
				transform: translateX(3px)
		span
			display: flex
			align-items: center
		.icon
			margin: 0 0 0 10px
			transition: transform 0.25s
.n-item
	position: relative
	+regular
	color: $gray
	box-shadow: 0 10px 49px rgba(28, 28, 28, 0.15)
	background: $white
	&__top
		height: 180px
		position: relative
		img
			width: 100%
			height: 100%
			display: block
			position: absolute
			top: 0
			left: 0
			object-fit: cover
	&__body
		padding: 15px 20px
		min-height: 250px
		display: flex
		flex-direction: column
	&__data
		text-transform: uppercase
		font-size: 10px
		line-height: 1.2
		display: block
	&__title
		+bold
		font-size: 18px
		line-height: 1.2
		color: $black
		margin: 14px 0 0
	&__txt
		font-size: 13px
		line-height: 1.6
		margin: 15px 0 0
	&__link
		+bold
		font-size: 12px
		letter-spacing: 0.6px
		color: $black
		padding: 10px 0
		transition: opacity 0.25s
		text-transform: uppercase
		display: inline-block
		&:hover
			opacity: 0.6
			.icon
				transform: translateX(3px)
		.icon
			margin: 0 0 0 7px
			transition: transform 0.25s
.reviews
	position: relative
	text-align: center
	background: $white
	&__in
		padding-top: 64px
		padding-bottom: 60px
.reviews-slider
	position: relative
	text-align: center
	margin: 40px 0 0
	&__item
		max-width: 710px
	.slick-arrow
		width: 65px
		position: absolute
		bottom: 55px
		padding: 40px
		cursor: pointer
		z-index: 10
		transition: opacity 0.25s
		+hide-text
		&:hover
			opacity: 0.4
	.slick-prev
		left: -10px
		&:before
			content: ''
			display: block
			position: absolute
			+vcenter
			width: 65px
			height: 6px
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEEAAAAGCAYAAACcqvORAAAAXElEQVQ4T+3UwQmAQAxE0bcWYAN24tkiLETsxRbswYuCtiULgqlhd3MKuf1PZpJ/Oix4cIV78Wv6CAfsGDHhKJ48AGYJMzb0NYFH1iYBLQ5BQv6OXIwrbpw1ReMFHpUKBZoLEZ0AAAAASUVORK5CYII=) no-repeat center
	.slick-next
		right: -10px
		&:before
			content: ''
			display: block
			position: absolute
			+vcenter
			width: 65px
			height: 6px
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEEAAAAGCAYAAACcqvORAAAAUElEQVQ4T+3UwQmAMBQE0ZdOtCc78BQbEOzRFsQiPAqRD6aKn+1gBmaLfJuw4cAb+CWfAzMunFhwh4SWUERHfrAOCdSRw59DthriGCv2Dv4B5IANud7hb+wAAAAASUVORK5CYII=) no-repeat center
	.slick-dots
		display: flex
		justify-content: center
		position: absolute
		left: 0
		right: 0
		bottom: -30px
		z-index: 10
		li
			width: 14px
			height: 14px
			background: #eee
			border-radius: 50%
			overflow: hidden
			margin: 0 11px
			cursor: pointer
			transition: background 0.25s
			&:hover,
			&.slick-active
				background: #d0d0d0
		button
			+hide-text
.r-item
	&__pic
		position: relative
		border-radius: 50%
		overflow: hidden
		width: 160px
		height: 160px
		margin: 0 auto
		img
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			object-fit: cover
	&__name
		color: $black
		+bold
		line-height: 1.4
		font-size: 12px
		text-transform: uppercase
		letter-spacing: 1.2px
		margin: 14px 0 0
	&__txt
		color: $gray
		font-size: 14px
		+regular-italic
		line-height: 1.4
		letter-spacing: 0.35px
		margin: 14px 0 0
	&__date
		color: #181818
		+regular
		font-size: 10px
		line-height: 1.4
		text-transform: uppercase
		margin: 18px 0 0
.apartments
	position: relative
	background: #f4f4f4
	&__in
		padding-top: 67px
		padding-bottom: 67px
		position: relative
	&__btn
		background: $green
		margin: 90px 0 0 190px
		font-size: 12px
		min-width: 255px
		&:hover
			background: darken($green, 2%)
			.icon
				transform: translateX(3px)
		span
			display: flex
			align-items: center
		.icon
			margin: 0 0 0 10px
			transition: transform 0.25s
			fill: $white
	&__tab-links
		position: absolute
		right: 205px
		top: 56px
.alist
	margin: -42px -30px 0
	display: flex
	flex-wrap: wrap
	&__item
		width: 50%
		padding: 0 30px
		margin: 108px 0 0
		&:nth-of-type(even)
			position: relative
			top: 60px
.aitem
	display: flex
	&__pic
		width: 255px
		height: 300px
		border: 8px solid $white
		position: relative
		img
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			object-fit: cover
	&__content
		padding: 30px 0 0 30px
	&__title
		margin: 0 0 0 -95px
		background: $white
		min-height: 120px
		box-shadow: 0 10px 49px rgba(28, 28, 28, 0.15)
		padding: 18px
		+bold
		font-size: 18px
		line-height: 1.6
		color: $black
		position: relative
		z-index: 1
		width: 255px
	&__list
		+regular
		font-size: 14px
		line-height: 1.4
		color: $gray
		margin: 40px 0 0
	&__price
		text-transform: uppercase
		font-size: 28px
		margin: 14px 0 0
		+bold
.tab-links
	display: flex
	width: 350px
	&__item
		width: 50%
		+bold
		font-size: 14px
		text-transform: uppercase
		line-height: 1.4
		color: $black
		padding: 10px 15px
		margin: 0 15px
		position: relative
		display: block
		transition: color 0.25s
		&:first-of-type
			margin-left: 0
		&:last-of-type
			margin-right: 0
		&:hover
			color: lighten($black, 50%)
			&:before
				background: lighten($black, 50%)
		&.is-active
			color: $red
			&:before
				background: $red
				transition: background 0.25s
		&:before
			content: ''
			display: block
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: 2px
			background: $black
			transition: background 0.25s
