.main
	text-align: center
	color: $white
	height: 640px
	background: url(../img/main-section-bg.jpg) no-repeat center
	background-size: cover
	&__title
		text-shadow: 0 1px 0 #000000
		font-size: 42px
		line-height: 1.2
		+bold
		letter-spacing: 1.05px
	&__subtitle
		+regular
		font-size: 14px
		line-height: 1.4
		letter-spacing: 0.35px
		margin: 16px 0 0
	&__buttons-wrap
		margin: 94px 0 0
		.btn + .btn
			margin: 0 0 0 20px
	&__content
		display: inline-block
		padding: 90px 0 50px
	&__btn
		box-shadow: 0 3px 13px rgba(28, 28, 28, 0.5)
.icons
	position: relative
	height: 200px
	background: $white
	text-align: center
	+bold
	font-size: 12px
	color: $black
	&__in
		display: flex
		height: 200px
		align-items: center
	&__list
		display: flex
		width: 100%
	&__list-item
		width: 25%
		padding: 0 10px
.iblock
	&__icon
		width: 60px
		height: 60px
		margin: 0 auto
		position: relative
	&__text
		text-transform: uppercase
		letter-spacing: 0.6px
	.icon
		position: absolute
		+vcenter
.news
	position: relative
	background: url(../img/news-bg.jpg) no-repeat center
	background-size: cover
	height: 763px
	text-align: center
	&__in
		padding-top: 68px
	&__list
		display: flex
		margin: 58px -15px 0
		text-align: left
	&__list-item
		width: 33.3333%
		flex-grow: 0
		flex-shrink: 0
		padding: 0 15px
	&__btn
		background: $white
		color: $black
		margin: 40px auto 0
		font-size: 12px
		min-width: 255px
		&:hover
			background: darken($white, 2%)
			.icon
				transform: translateX(3px)
		span
			display: flex
			align-items: center
		.icon
			margin: 0 0 0 10px
			transition: transform 0.25s
.n-item
	position: relative
	+regular
	color: $gray
	box-shadow: 0 10px 49px rgba(28, 28, 28, 0.15)
	background: $white
	&__top
		height: 180px
		position: relative
		img
			width: 100%
			height: 100%
			display: block
			position: absolute
			top: 0
			left: 0
			object-fit: cover
	&__body
		padding: 15px 20px
		min-height: 250px
		display: flex
		flex-direction: column
	&__data
		text-transform: uppercase
		font-size: 10px
		line-height: 1.2
		display: block
	&__title
		+bold
		font-size: 18px
		line-height: 1.2
		color: $black
		margin: 14px 0 0
	&__txt
		font-size: 13px
		line-height: 1.6
		margin: 15px 0 0
	&__link
		+bold
		font-size: 12px
		letter-spacing: 0.6px
		color: $black
		padding: 10px 0
		transition: opacity 0.25s
		text-transform: uppercase
		display: inline-block
		&:hover
			opacity: 0.6
			.icon
				transform: translateX(3px)
		.icon
			margin: 0 0 0 7px
			transition: transform 0.25s
