
.personal-area
	background-color: $bg_gray
	&__in
		padding-top: 50px	
		padding-bottom: 25px	
	&__list
		display: flex
	&__objects
		margin-top: 58px	
		padding-top: 26px	
		border-top: 1px solid #dedede
// panel
.panel
	display: flex
	margin-top: 23px
	&__tabs
		display: flex
		flex-direction: column
		width: 377px
		font-size: 0
		justify-content: flex-start	
		flex-grow: 0
		flex-shrink: 0
	&__content
		display: none
		flex-direction: column
		&.is-active
			display: flex
	&__main
		flex-shrink: 1
		flex-grow: 1
		z-index: 2
		position: relative
		background-color: $white
		overflow: hidden
		padding: 17px 15px 35px 25px
	&__body
		padding-left: 43px	
		padding-right: 49px	
	&__header
		border-bottom: 1px solid rgba(#2c2c2c, 0.15)
		padding-bottom: 14px
		display: flex
		justify-content: flex-end
		align-items: center	
		.user__title
			text-transform: uppercase
	&__btn
		background: #eaeaea
		height: 64px	
		display: flex
		justify-content: flex-start
		padding: 16px 18px
		position: relative
		width: 100%	
		box-shadow: 0
		&:before
			content: ''
			z-index: 1
			display: block		
			+coverdiv
			left: 14px	
			top: 3px	
			transform: scale(1.1)
			background: transparent
			transition: transform .25s ease, background .25s ease, box-shadow .25s ease
		&:not(:first-child)
			margin-top: 1px	
		&.is-active,
		&:hover
			&:before
				background: lighten($white, 10%)
				box-shadow: -6px 4px 7px rgba(0, 0, 0, 0.05)
			span
				color: #fe3e5d

		span
			color: $black
			transition: color .25s ease
			z-index: 2
			font-size: 12px
			text-transform: uppercase
			line-height: 14px

.user
	font-size: 14px
	line-height: 12px
	&__in
		padding: 19px 30px
	&__body,
	&__footer
		margin-top: 15px	
		border: 1px solid rgba(#e0e0e0, 0.5)
		.user__in
			padding-right: 87px
		.user__title
			padding-top: 10px	
	&__pic
		overflow: hidden
		position: relative
		img
			border-radius: 50%
			+coverdiv
			object-fit: cover
	&__row
		display: flex
		justify-content: flex-start
		align-items: flex-start
		&:not(:first-child)
			margin-top: 16px	
	&__col
		display: flex
		flex: 0 1 80%
		&:first-of-type
			flex: auto
	&__title
		color: $gray
		font-size: 14px
	&__info
		color: $black
		+bold
	&__fields
		display: flex
	&__input
		padding: 0 8px
		@extend %inputs
		border-radius: 3px
		height: 32px
		color: $gray
		font-size: 12px	
		line-height: 32px
		border: 1px solid #cccccc
	&__btns
		margin-top: 20px
		display: flex
		justify-content: center
		align-items: center
		position: relative
		.btn-close
			position: absolute
			top: 50%	
			transform: translateY(-50%)
			right: 30px	
	&__field
		&:not(:first-child)
			margin-top: 18px
	&__btn
		min-width: 117px
		display: inline-flex
		align-items: center
		text-transform: uppercase	
		justify-content: center
		border-radius: 0
		background: #f2f1f1
		height: 36px	
		line-height: 36px
		font-size: 12px
		color: $black
		&:hover
			background: lighten(#f2f1f1, 1%)
	&__select
		min-width: 73px
		margin-right: 8px	
		select
			background: none
			border: 1px solid #cccccc
	&__checkboxes
		margin-top: 20px	
		line-height: 19px
		display: flex
		justify-content: flex-start
		.checkbox
			&:not(:first-child)
				margin-left: 40px
			&__title
				+bold
				padding-right: 15px	
.user__col-fl
	flex-direction: column
	flex-basis: 73%
.user__pic-sm
	width: 36px
	height: 36px
	margin-right: 4px	
.user__pic-lg
	width: 90px
	height: 90px
