<footer class="footer">
  <div class="footer__top">
    <div class="footer__top-in inner">
      <div class="footer__top-left">
        <nav class="fnav">
          <a href="#" class="fnav__link">Покупка</a>
          <a href="#" class="fnav__link">Аренда</a>
          <a href="#" class="fnav__link">Недвижимость</a>
          <a href="#" class="fnav__link">Жизнь на Пхукете</a>
          <a href="#" class="fnav__link">О Нас</a>
          <a href="#" class="fnav__link">Контакты</a>
        </nav>
      </div>
      <div class="footer__top-right">
        <a href="#" class="tel">+ 66 81 737 1687</a>
        <ul class="messengers">
          <li class="messengers__item"><a href="#">Skype</a></li>
          <li class="messengers__item"><a href="#">Viber</a></li>
          <li class="messengers__item"><a href="#">Telegram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-in inner">
      <div class="footer__bottom-left">
        <a href="#" class="footer__logo logo">Raйland</a>
        <div class="copyright">
          Все права защищены. <br>
          При использовании или копировании материалов прямая ссылка на сайт обязательна.
        </div>
      </div>
      <div class="footer__bottom-right">
        <ul class="socials">
          <li class="socials__item"><a href="#">fb</a></li>
          <li class="socials__item"><a href="#">tw</a></li>
          <li class="socials__item"><a href="#">vk</a></li>
          <li class="socials__item"><a href="#">insta</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
