  <div class="popup popup_order" id="popup_order">
    <div class="cross popup-close js-close"></div>
    <div class="popup__in">
      <h2 class="popup__title">Оставьте свой номер телефона, <br/>менеджер свяжется с вами</h2>
      <form>
        <!-- BEGIN popup-form -->
        <div class="popup__form">
          <!-- BEGIN popup-body -->
          <div class="popup__body">
            <div class="form__row">
              <input type="text" class="form__field" placeholder="Как к вам обращаться?">
            </div>
            <div class="form__row form__row-fl">
              <div class="form__select">
                <div class="select-l">
                  <select class="select-l__el">
                    <option value="" selected="selected"> +380 </option>
                    <option value="1">+380</option>
                    <option value="2">+380</option>
                    <option value="3">+380</option>
                  </select>
                </div>
              </div>
              <div class="form__row">
                <input type="text" class="form__field" placeholder="Ваш номер">
              </div>
            </div>
          </div>
          <!-- END popup-body -->

          <!-- BEGIN popup-footer -->
          <div class="popup__footer">
            <div class="popup__entry">
              <button type="submit" class="popup__btn btn">
                Отправить запрос
              </button>
            </div>
          </div>
          <!-- END popup-footer -->
        </div>
        <!-- END popup-form -->
      </form>
    </div>
  </div>