  <div class="popup popup_registration" id="popup_registration">
    <div class="cross popup-close js-close"></div>
    <div class="popup__in">
      <h2 class="popup__title">Введите регистрационные данные</h2>
      <form>
        <!-- BEGIN popup-form -->
        <div class="popup__form">
          <!-- BEGIN popup-body -->
          <div class="popup__body">
            <div class="form__row">
              <input type="text" class="form__field" placeholder="Логин">
            </div>
            <div class="form__row">
              <input type="email" class="form__field" placeholder="E-mail*">
            </div>
            <div class="form__row">
              <input type="password" class="form__field" placeholder="Пароль*">
            </div>
            <div class="form__row">
              <input type="password" class="form__field" placeholder="Подтверждения пароля*">
            </div>
          </div>
          <!-- END popup-body -->

          <!-- BEGIN popup-footer -->
          <div class="popup__footer">
            <div class="popup__links">
              <button type="button" class="popup__link btn-call-popup" data-popup="reset">
                <span>
                  Забыли пароль?
                </span>
              </button>
              <button type="button" class="popup__link btn-call-popup" data-popup="login">
                <span>
                  Уже зарегестрированы?
                </span>
              </button>
            </div>
            <div class="popup__entry">
              <button type="submit" class="popup__btn btn">
                Зарегестрироваться
              </button>
            </div>
          </div>
          <!-- END popup-footer -->
        </div>
        <!-- END popup-form -->
      </form>
    </div>
  </div>