  <div class="popup popup_reset" id="popup_reset">
    <div class="cross popup-close js-close"></div>
    <div class="popup__in">
      <h2 class="popup__title">Сброс пароля</h2>
      <form>
        <!-- BEGIN popup-form -->
        <div class="popup__form">
          <!-- BEGIN popup-body -->
          <div class="popup__body">
            <div class="form__row">
              <input type="email" class="form__field" placeholder="E-mail">
            </div>
          </div>
          <!-- END popup-body -->

          <!-- BEGIN popup-footer -->
          <div class="popup__footer">
            <div class="popup__entry">
              <button type="submit" class="popup__btn popup__btn-w100 btn">
                Отправить ссылку для смены пароля
              </button>
            </div>
          </div>
          <!-- END popup-footer -->
        </div>
        <!-- END popup-form -->
      </form>
    </div>
  </div>