<<<<<<< HEAD
.icon-arr {
  width: 4.83em;
  height: 1em;
  fill: initial;
}
.icon-arrd {
  width: 1em;
  height: 1em;
  fill: #bcbcbc;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-iblock-1 {
  width: 1.01em;
  height: 1em;
  fill: initial;
}

=======
.icon-arr {
  width: 4.83em;
  height: 1em;
  fill: initial;
}
.icon-arrd {
  width: 1em;
  height: 1em;
  fill: #bcbcbc;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-iblock-1 {
  width: 1.01em;
  height: 1em;
  fill: initial;
}
>>>>>>> 2e14ec04c4db9ad336b777b4b772c8c8b697e8c2
